* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .label {
    border: 2px solid black;
    width: 270px;
    margin: 20px auto;
    padding: 0 7px;
  }
  
  header h1 {
    text-align: center;
    margin: -4px 0;
    letter-spacing: 0.15px
  }
  
  p {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .divider {
    border-bottom: 1px solid #888989;
    margin: 2px 0;
  }
  
  .bold {
    font-weight: 800;
  }
  
  .large {
    height: 10px;
  }
  
  .large, .medium {
    background-color: black;
    border: 0;
  }
  
  .small-text {
    font-size: 0.85rem;
  }
  
  .calories-info {
    display: flex; /* Allows element to share same line*/
    justify-content: space-between; /* Keep a space between the items*/
    align-items: flex-end; /*it aligns items at the end of the cross axis. In a row layout, items will move to the bottom of the container. Which is this case*/
  }
  
  .calories-info h2 {
    margin: 0;
  }

  .left-container p{ /*.left-container p selector setting the top and bottom margin to -5px, and the left and right margin to -2px. Also set the font-size to 2em and font-weight to 700*/
    margin: -5px -2px;
    font-size: 2em;
    font-weight: 700;
  }

  .calories-info span {
    font-size: 2.4em;
    font-weight: 700;
    margin: -7px -2px;
  }

  .right{
    justify-content: flex-end; /*Justifies content to the right, very end of the flex container*/
  }
 
  .indent {
    margin-left: 1em;
  }
  
  .double-indent {
    margin-left: 2em;
  }
  
  .daily-value p:not(.no-divider) {
    border-bottom: 1px solid #888989;
  }
  
  .note {
    font-size: 0.6rem;
    margin: 5px 0;
    padding: 0 8px;
    text-indent: -8px;
  
  }